@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: "Montserrat", sans-serif;
}

.bg-primary{
  background-color: #171717;
}

.bg-secondary{
  background-color: #0a0a0a;
}

.text-primary{
  color: #31caff;
}
.text-secondary{
  color: #999;
}
.hover-primary:hover{
 color: #31caff;
}

.font-heading{
  font-size: 32px;
}
.font-sub-heading{
  font-size: 16px;
}


.font-md{
  font-size: 18px;
}

.font-sub-md{
  font-size: 15px;
}